<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-Breach</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans">
    <header class="fixed top-0 left-0 w-full bg-white border-b border-gray-200 shadow-md px-4 py-8">
        <nav class="flex justify-between items-center">
            <div class="flex items-center">
                <img src='/Logo.png'  alt="Logo" class="h-8 mr-2">
                <h3 class="text-lg font-semibold">Dark Patterns Detector</h3>
            </div>
            <div class="lg:hidden"> <!-- Show only on small screens -->
                <button id="menu-toggle" class="focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="black" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/></svg>
                </button>
            </div>
            <ul class="flex space-x-4 hidden lg:flex"> <!-- Hide on small screens -->
                <li><a href="https://en.wikipedia.org/wiki/Data_breach"
                        class="text-purple-800 hover:text-white hover:bg-purple-800 px-3 py-3 rounded-full">Data-breach
                        ?</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Dark_pattern"
                        class="text-purple-800 hover:text-white hover:bg-purple-800 px-3 py-3 rounded-full">Dark-pattern
                        ?</a></li>
                <li><a href="http://localhost:8080/rating" class="text-purple-800 hover:text-white hover:bg-purple-800 px-4 py-3 rounded-full">Rating</a></li>             
              <li><a onclick="window.location.href='/Documentation.pdf'" class="text-purple-800 hover:text-white hover:bg-purple-800 px-4 py-3 rounded-full">Documentation</a></li>
            </ul>
        </nav>
        <div id="sidebar" class="hidden lg:hidden fixed top-0 left-0 h-full w-64 bg-gray-200 shadow-md">
            <ul class="pt-20">
                <li class="mb-4">
                    <a href="https://en.wikipedia.org/wiki/Data_breach"
                        class="block text-purple-800 hover:text-white hover:bg-purple-800 px-3 py-3">Data-breach ?</a>
                </li>
                <li class="mb-4">
                    <a href="https://en.wikipedia.org/wiki/Dark_pattern"
                        class="block text-purple-800 hover:text-white hover:bg-purple-800 px-3 py-3">Dark-pattern ?</a>
                </li>
                <li class="mb-4">
                    <a href="http://localhost:8080/rating"
                        class="block text-purple-800 hover:text-white hover:bg-purple-800 px-3 py-3">Rating</a>
                </li>
                <li><a href="http://localhost:8080/rating" class="text-purple-800 hover:text-white hover:bg-purple-800 px-4 py-2 rounded-lg">Rating</a></li>             
              <li><a onclick="window.location.href='/Documentation.pdf'" class="text-purple-800 hover:text-white hover:bg-purple-800 px-4 py-2 rounded-lg">Documentation</a></li>
            </ul>
            <button id="close-sidebar" class="absolute top-4 right-4 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="#ff0000" d="M18.36 19.78L12 13.41l-6.36 6.37l-1.42-1.42L10.59 12L4.22 5.64l1.42-1.42L12 10.59l6.36-6.36l1.41 1.41L13.41 12l6.36 6.36z"/></svg>
            </button>
        </div>
    </header>

    <div id="sidebar"
        class="fixed inset-0 bg-gray-200 bg-opacity-75 z-50 hidden lg:hidden flex justify-end items-start">
        <ul class="p-8">
            <li><a href="https://en.wikipedia.org/wiki/Data_breach"
                    class="text-purple-800 hover:text-white hover:bg-purple-800 px-3 py-3 rounded-full block">Data breach
                    ?</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Dark_pattern"
                    class="text-purple-800 hover:text-white hover:bg-purple-800 px-3 py-3 rounded-full block">Dark
                    Patterns ?</a></li>
            <li><a href="http://localhost:8080/rating"
                    class="text-purple-800 hover:text-white hover:bg-purple-800 px-3 py-3 rounded-full block">Rating</a>
            </li>
            <li><a href="#" class="bg-purple-800 text-white px-3 py-3 rounded-full block">Documentation</a></li>
        </ul>
        <button id="close-sidebar" class="absolute top-4 right-4 text-red-600 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </div>

    <section class="container mx-auto my-48 text-center">
        <h1 class="text-3xl font-bold mb-4">Has your data been compromised ?</h1>
        <p class="text-lg text-gray-700 mb-8">A data breach refers to a cybersecurity incident where unauthorized
            individuals gain access to sensitive, confidential, or protected information without permission. This breach
            could occur through various means, including hacking, malware attacks, insider threats, or accidental
            exposure. Once breached, the data might be copied, transmitted, viewed, stolen, altered, or used for
            malicious purposes. Data breaches can have severe consequences, leading to financial losses, reputational
            damage, legal implications, and risks to individuals' privacy and security</p>
        <form action="/data-breach" method="post" class="max-w-sm mx-auto">
            <label for="email" class="block font-semibold mb-2">Enter your email:</label>
            <input type="email" id="email" name="email"
                class="w-full px-4 py-2 border border-gray-300 rounded mb-4" required>
            <button type="submit"
                class="bg-purple-800 text-white px-6 py-2 rounded-full hover:bg-purple-900 focus:outline-none">Submit</button>
        </form>
    </section>

    <footer class="bg-purple-900 text-white text-center py-4 fixed bottom-0 w-full">
        <p>© 2024 Dark Patterns Detector. All rights reserved</p>
    </footer>
    

    <script>
        document.getElementById('menu-toggle').addEventListener('click', function() {
            document.getElementById('sidebar').classList.toggle('hidden');
        });

        document.getElementById('close-sidebar').addEventListener('click', function() {
            document.getElementById('sidebar').classList.add('hidden');
        });
    </script>
</body>

</html>
